[submodule "lib/Adafruit_AHRS"]
	path = lib/Adafruit_AHRS
	url = https://github.com/BalloonWare/Adafruit_AHRS.git
[submodule "lib/CmdParser"]
	path = lib/CmdParser
	url = https://github.com/pvizeli/CmdParser.git
[submodule "lib/Arduino_BMI270_BMM150"]
	path = lib/Arduino_BMI270_BMM150
	url = https://github.com/mhaberler/Arduino_BMI270_BMM150.git
[submodule "lib/SparkFun_MPU-9250-DMP_Arduino_Library"]
	path = lib/SparkFun_MPU-9250-DMP_Arduino_Library
	url = https://github.com/mhaberler/SparkFun_MPU-9250-DMP_Arduino_Library.git
[submodule "lib/Exponential_Smoothing"]
	path = lib/Exponential_Smoothing
	url = https://github.com/mhaberler/Exponential_Smoothing.git
[submodule "lib/Stats"]
	path = lib/Stats
	url = https://github.com/mhaberler/Stats.git
[submodule "lib/WebSerial"]
	path = lib/WebSerial
	url = https://github.com/mhaberler/WebSerial.git
[submodule "lib/StreamLib"]
	path = lib/StreamLib
	url = https://github.com/mhaberler/StreamLib.git
[submodule "lib/lockless_tripplebuffer"]
	path = lib/lockless_tripplebuffer
	url = https://github.com/mhaberler/lockless_tripplebuffer.git
[submodule "lib/NeoTee"]
	path = lib/NeoTee
	url = https://github.com/mhaberler/NeoTee.git
[submodule "lib/NTRIP-client-for-Arduino"]
	path = lib/NTRIP-client-for-Arduino
	url = https://github.com/mhaberler/NTRIP-client-for-Arduino.git
[submodule "lib/SparkFun_u-blox_GNSS_Arduino_Library"]
	path = lib/SparkFun_u-blox_GNSS_Arduino_Library
	url = https://github.com/mhaberler/SparkFun_u-blox_GNSS_Arduino_Library.git
[submodule "lib/TinyGPSPlus"]
	path = lib/TinyGPSPlus
	url = https://github.com/mhaberler/TinyGPSPlus.git
[submodule "lib/Fmt"]
	path = lib/Fmt
	url = https://github.com/mhaberler/arduino-fmt.git
[submodule "lib/Functor"]
	path = lib/Functor
	url = https://github.com/mhaberler/Functor.git
[submodule "lib/arduino-freertos-addons"]
	path = lib/arduino-freertos-addons
	url = https://github.com/mhaberler/arduino-freertos-addons.git
[submodule "platformio_version_increment"]
	path = platformio_version_increment
	url = https://github.com/mhaberler/platformio_version_increment.git
[submodule "teleplot"]
	path = teleplot
	url = https://github.com/mhaberler/teleplot.git
[submodule "lib/ESPxWebFlMgr"]
	path = lib/ESPxWebFlMgr
	url = https://github.com/mhaberler/ESPxWebFlMgr.git
[submodule "lib/ESPUI"]
	path = lib/ESPUI
	url = https://github.com/mhaberler/ESPUI.git
[submodule "src/esp32-asyncwebserver-fileupload-example"]
	path = src/esp32-asyncwebserver-fileupload-example
	url = https://github.com/mhaberler/esp32-asyncwebserver-fileupload-example.git
[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/esphome/ESPAsyncWebServer.git
[submodule "lib/SPIFFS"]
	path = lib/SPIFFS
	url = https://github.com/mhaberler/SPIFFS.git
[submodule "lib/esp_ghota"]
	path = lib/esp_ghota
	url = https://github.com/mhaberler/esp_ghota.git
[submodule "lib/ESP32-PsRamFS"]
	path = lib/ESP32-PsRamFS
	url = https://github.com/mhaberler/ESP32-PsRamFS.git
[submodule "lib/M5GFX"]
	path = lib/M5GFX
	url = https://github.com/mhaberler/M5GFX.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/mhaberler/SdFat.git
[submodule "lib/AsyncTCP"]
	path = lib/AsyncTCP
	url = https://github.com/BalloonWare/AsyncTCP.git
[submodule "lib/Adafruit_INA219"]
	path = lib/Adafruit_INA219
	url = https://github.com/mhaberler/Adafruit_INA219.git
[submodule "lib/BMI270_Sensor"]
	path = lib/BMI270_Sensor
	url = https://github.com/mhaberler/BMI270_Sensor.git
[submodule "lib/decoder"]
	path = lib/decoder
	url = https://github.com/mhaberler/decoder.git
[submodule "lib/NimBLE-Arduino"]
	path = lib/NimBLE-Arduino
	url = https://github.com/h2zero/NimBLE-Arduino
[submodule "lib/M5Unified"]
	path = lib/M5Unified
	url = https://github.com/M5Stack/M5Unified
